@media screen and (max-width: 430px) {
  .first_screen {
    width: 100%;
    height: 137vw;
    position: relative;
    overflow-x: hidden;
  }

  .star {
    width: 7vw;
    height: 8vw;
  }
  .star6,
  .star12,
  .star7 {
    display: none;
  }

  .horizontal_block1 {
    display: flex;
    flex-direction: row;
    gap: 28vw;
    margin-top: 6vw;
    margin-left: 13vw;
  }

  .horizontal_block2 {
    display: flex;
    flex-direction: row;
    gap: 16vw;
    margin-top: 14vw;
    margin-left: 20vw;
  }

  .horizontal_block3 {
    display: flex;
    flex-direction: row;
    gap: 23vw;
    margin-top: 18vw;
    margin-left: 1vw;
  }

  .text {
    font-family: 'IBMPlexSans-Light';
    font-size: 5.7vw;
    position: absolute;
    margin-top: 29vw;
    margin-left: 65.8vw;
    letter-spacing: 0.1em;
  }

  .moon {
    margin-top: 10vw;
    margin-left: 54vw;
    width: 44vw;
    height: 44vw;
    position: absolute;
  }

  .submarine {
    width: 100vw;
    height: 45vw;
    margin-top: 69vw;
    position: absolute;
    margin-left: auto;
  }

  .sea {
    position: absolute;
    margin-top: 78%;
    width: 200%;
    height: 36vw;
    background: #000000;
    overflow: hidden;
  }

  .sea .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 18vw;
    background: url('../images/wave.svg');
    background-size: 600px 100px;
  }

  .second_screen {
    width: 100%;
    height: 8vw;
    margin-top: 1vw;
    position: relative;
    overflow-x: hidden;
  }

  .animatext {
    margin-top: 3vw;
    white-space: nowrap;
    animation: lin 9s infinite linear;
    font-size: 3vw;
    position: absolute;
    text-transform: uppercase;
    color: #fafafa;
    padding-left: 100%;
  }

  .third_screen {
    width: 100%;
    height: 130vw;
    margin-top: 3vw;
    position: relative;
  }

  .curcletext {
    margin-top: 20vw;
    position: absolute;
    height: 102vw;
    width: 38vw;
    margin-left: 32vw;
    animation: portal 6s ease-in-out infinite;
  }

  .submarine1 {
    width: 60vw;
    margin-top: 45vw;
    margin-left: 1vw;
    position: absolute;
    animation: submarine1move 6s linear infinite;
    margin-left: -50%;
  }

  .vertical_block1 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 11vw;
    margin-left: 4vw;
  }

  .waterstar3 {
    width: 16vw;
    margin-left: 19vw;
    margin-top: 43vw;
    animation: starround 6s linear infinite;
  }

  .vertical_block2 {
    display: flex;
    flex-direction: column;
    gap: 24vw;
    margin-top: 38vw;
  }

  .midwaterstar1 {
    margin-left: 12vw;
  }
  .midwaterstar2 {
    margin-left: 3vw;
  }
  .midwaterstar3 {
    margin-left: 12vw;
  }

  .vertical_block3 {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    margin-top: 54vw;
    margin-left: 16vw;
  }

  .seaweedbig {
    width: 15vw;
    margin-top: 95vw;
    margin-left: 0vw;
    animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    position: absolute;
  }

  .seaweedsmall {
    width: 4vw;
    margin-top: 88vw;
    margin-left: 85vw;
    animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    position: absolute;
  }

  .fourth_screen {
    width: 100%;
    height: 8vw;
    margin-top: 1vw;
    position: relative;
    overflow-x: hidden;
  }

  .fifth_screen {
    overflow-x: hidden;
    width: 100%;
    margin-top: 6vw;
    position: relative;
    height: 228vw;
  }

  @keyframes drift {
    0% {
      transform: all 1s;
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: all 1s;
    }
  }

  @keyframes bounce {
    from,
    to {
      transform: translateX(5vh) scaleY(1.02);
    }
    80% {
      transform: translateX(50vh) scaleY(0.98);
    }
  }

  .circle {
    width: 4vw;
    margin-top: 209vw;
    margin-left: 78vw;
    position: absolute;
    animation: opacity 2s ease infinite;
  }

  .six_screen {
    width: 100%;
    height: 8vw;
    margin-top: 1vw;
    position: relative;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  .first_screen {
    width: 100%;
    height: 100vw;
    position: relative;
    overflow-x: hidden;
  }

  .star {
    width: 5vw;
    height: 6vw;
  }

  .horizontal_block1 {
    display: flex;
    flex-direction: row;
    gap: 28vw;
    margin-top: 4vw;
    margin-left: 13vw;
  }

  .horizontal_block2 {
    display: flex;
    flex-direction: row;
    gap: 20vw;
    margin-top: 10vw;
    margin-left: 20vw;
  }

  .horizontal_block3 {
    display: flex;
    flex-direction: row;
    gap: 23vw;
    margin-top: 16vw;
    margin-left: 1vw;
  }

  .star3 {
    display: none;
  }

  .moon {
    margin-top: 7vw;
    margin-left: 58vw;
    width: 30vw;
    height: 30vw;
    position: absolute;
  }

  .text {
    font-family: 'IBMPlexSans-Light';
    font-size: 3.8vw;
    position: absolute;
    margin-top: 20vw;
    margin-left: 66.2vw;
    letter-spacing: 0.1em;
  }

  .submarine {
    width: 100vw;
    height: 30vw;
    margin-top: 65vw;
    margin-left: -17vw;
  }

  .sea {
    position: absolute;
    width: 200%;
    height: 30vw;
    background: #070707;
    overflow: hidden;
    margin-top: 68%;
  }
  .sea .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 20vw;
    background: url('../images/wave.svg');
    background-size: 800px 200px;
  }

  @keyframes bounce {
    from,
    to {
      transform: translateX(10vh) scaleY(1.02);
    }
    80% {
      transform: translateX(45vh) scaleY(0.98);
    }
  }
  .circle {
    width: 4vw;
    margin-top: 209vw;
    margin-left: 78vw;
    position: absolute;
    animation: opacity 2s ease infinite;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .sea {
    position: absolute;
    width: 100%;
    height: 29vw;
    background: #070707;
    overflow: hidden;
    margin-top: 22%;
  }

  .sea .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 13vw;
    background: url('../images/wave.svg');
    background-size: 1155px 200px;
  }

  @keyframes bounce {
    from,
    to {
      transform: translateX(10vh) scaleY(1.02);
    }
    80% {
      transform: translateX(55vh) scaleY(0.98);
    }
  }
  .circle {
    width: 4vw;
    margin-top: 209vw;
    margin-left: 78vw;
    position: absolute;
    animation: opacity 2s ease infinite;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) and (orientation: portrait) {
  .text {
    font-family: 'IBMPlexSans-Light';
    font-size: 3.2vw;
    margin-top: 12.5vw;
    margin-left: 70vw;
    letter-spacing: 0.1em;
  }
}
