/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 414px) and (orientation: portrait) {
  .first_screen {
    width: 100%;
    height: 137vw;
    position: relative;
  }

  .star {
    width: 7vw;
    height: 8vw;
  }

  .moon {
    margin-top: 1vw;
    margin-left: 58vw;
    width: 26vw;
    height: 26vw;
    position: absolute;
  }

  .submarine {
    width: 100vw;
    height: 30vw;
    margin-top: 69vw;
    margin-left: 30vw;
  }

  .sea {
    position: relative;
    width: 100%;
    height: 20vw;
    background: #000000;
    overflow: hidden;
    display: none;
  }

  .sea {
    position: absolute;
    width: 100%;
    height: 29vw;
    background: #070707;
    overflow: hidden;
    margin-top: 22%;
  }
  .sea .wave {
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    background: url('../images/wave.svg');
    background-size: 400px 200px;
  }

  .sea .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .sea .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
}

@media screen and (max-width: 414px) and (orientation: landscape) {
  /* Горизонтальная ориентация для мобильных устройств */
}

/* ///////////////////////// Планшеты ///////////////////////// */
@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: portrait) {
  /* Вертикальная ориентация для планшетов */
}

@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: landscape) {
  /* Горизонтальная ориентация для планшетов */
}

/* ///////////////////////// Маленькие экраны ///////////////////////// */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
}

/* ///////////////////////// Средние экраны ///////////////////////// */
@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 1025px до 1366px */
}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1025px до 1366px */
}

/* ///////////////////////// Большие экраны ///////////////////////// */
@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: portrait) {
  .text {
    font-family: 'IBMPlexSans-Light';
    font-size: 3.2vw;
    margin-top: 12.5vw;
    margin-left: 70vw;
    letter-spacing: 0.1em;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1367px до 1920px */
}

/* ///////////////////////// Очень большие экраны ///////////////////////// */
@media screen and (min-width: 1921px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов шире 1920px */
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов шире 1920px */
}

/* ///////////////////////// Ультра-HD экраны (4K и выше) ///////////////////////// */
@media screen and (min-width: 2561px) {
  /* Поддержка для ультра-HD экранов */
}
