body {
  margin: 0 auto;
  position: relative;
  font-family: 'IBMPlexSans-Light';
  overflow-x: hidden;
  background: #070707;
}

/* Первый экран */
.first_screen {
  width: 100%;
  height: 60vw;
  position: relative;
}

.horizontal_block {
  display: flex;
  flex-direction: column;
}

.horizontal_block1 {
  display: flex;
  flex-direction: row;
  gap: 36vw;
  margin-top: 3vw;
  margin-left: 13vw;
}

.horizontal_block2 {
  display: flex;
  flex-direction: row;
  gap: 22vw;
  margin-top: 5vw;
  margin-left: 9vw;
}

.horizontal_block3 {
  display: flex;
  flex-direction: row;
  gap: 20vw;
  margin-top: 6vw;
  margin-left: 1vw;
}

.star {
  width: 3vw;
  height: 4vw;
}

.star1 {
  animation: star1 5s ease-in-out infinite;
}

@keyframes star1 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star2 {
  animation: star2 3s ease-in-out infinite;
}

@keyframes star2 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star3 {
  animation: star3 2s ease-in-out infinite;
}

@keyframes star3 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star4 {
  animation: star4 4s ease-in-out infinite;
}

@keyframes star4 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star5 {
  animation: star5 4s ease-in-out infinite;
}

@keyframes star5 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star6 {
  animation: star6 9s ease-in-out infinite;
}

@keyframes star6 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star7 {
  animation: star7 2s ease-in-out infinite;
}

@keyframes star7 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star8 {
  animation: star8 2s ease-in-out infinite;
}

@keyframes star8 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star9 {
  animation: star9 6s ease-in-out infinite;
}

@keyframes star9 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star10 {
  animation: star10 8s ease-in-out infinite;
}

@keyframes star10 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star11 {
  animation: star11 3s ease-in-out infinite;
}

@keyframes star11 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star12 {
  animation: star12 5s ease-in-out infinite;
}

@keyframes star12 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.moon {
  margin-top: 1vw;
  margin-left: 58vw;
  width: 26vw;
  height: 26vw;
  position: absolute;
}

.text {
  cursor: pointer;
  font-family: 'IBMPlexSans-Light';
  font-size: 3.4vw;
  position: absolute;
  margin-top: 12.5vw;
  margin-left: 65vw;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-text-fill-color: #fafafa;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #070707;
}

.text:hover {
  font-size: 3.4vw;
  position: absolute;
  margin-top: 12.5vw;
  margin-left: 65vw;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-text-fill-color: #070707;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #070707;
  background-size: 100% 100%;
  filter: drop-shadow(0 0 13px #070707);
}

span:hover {
  background-size: 100% 100%;
  filter: drop-shadow(0 0 5px #fafafa);
}

.submarine {
  width: 44vw;
  z-index: 999;
  background-repeat: no-repeat;
  margin-top: 22.5vw;
  margin-left: 7vw;
  animation: sail 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

@keyframes sail {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateY(-19px);
  }
  100% {
    transform: all 1s;
  }
}

.sea {
  position: absolute;
  width: 100%;
  height: 29vw;
  background: #070707;
  overflow: hidden;
  margin-top: 22%;
}

.sea .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: 10vw;
  background: url('../images/wave.svg');
  background-size: 1155px 200px;
}

.sea .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.sea .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 998;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100%;
  }
}

/* Второй экран */

.second_screen {
  width: 100%;
  height: 6vw;
  margin-top: 3vw;
  position: relative;
  overflow-x: hidden;
}

.animatext {
  margin-top: 2vw;
  white-space: nowrap;
  animation: lin 9s infinite linear;
  font-size: 2vw;
  position: absolute;
  text-transform: uppercase;
  color: #fafafa;
  padding-left: 100%;
}

@keyframes lin {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-120%, 0);
  }
}

/* Третий экран */
.third_screen {
  width: 100%;
  margin-top: 3vw;
  position: relative;
}

.curcletext {
  margin-top: 3vw;
  position: absolute;
  height: 70vw;
  width: 32vw;
  margin-left: 32vw;
  animation: portal 6s ease-in-out infinite;
}

@keyframes portal {
  0% {
    filter: blur(0);
    opacity: 100%;
  }
  50% {
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 100%;
  }
}

.submarine1 {
  width: 48vw;
  margin-top: 25vw;
  margin-left: 1vw;
  position: absolute;
  animation: submarine1move 6s linear infinite;
  margin-left: -50%;
}
@keyframes submarine1move {
  0% {
    left: 0%;
  }
  10% {
    left: 20%;
  }
  30% {
    left: 40%;
  }

  50% {
    left: 65%;
    scale: 1;
  }
  70% {
    left: 95%;
    scale: 0.5;
  }
  90% {
    left: 115%;
  }
  100% {
    left: 130%;
    scale: 0.1;
  }
}

.vertical_blocks {
  display: flex;
  flex-direction: row;
}

.vertical_block1 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 3vw;
  margin-left: 4vw;
}

.waterstar {
  width: 20vw;
  animation: starround 6s linear infinite;
}

.waterstar2 {
  width: 14vw;
  margin-left: 14vw;
  animation: starround 6s linear infinite;
}

.waterstar3 {
  width: 16vw;
  margin-left: 19vw;
  margin-top: 25vw;
  animation: starround 6s linear infinite;
}

@keyframes starround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vertical_block2 {
  display: flex;
  flex-direction: column;
  gap: 14vw;
  margin-top: 13vw;
}

.midwaterstar {
  width: 6vw;
  animation: waterstar 8s ease-in-out infinite;
}
.midwaterstar1 {
  margin-left: 15vw;
}
.midwaterstar2 {
  margin-left: 5vw;
}
.midwaterstar3 {
  margin-left: 15vw;
}

@keyframes waterstar {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.vertical_block3 {
  display: flex;
  flex-direction: column;
  gap: 6vw;
  margin-top: 17vw;
  margin-left: 10vw;
}

.smallwaterstar {
  width: 5vw;
  animation: starround 6s linear infinite;
}

.smallwaterstar1 {
  margin-left: 2vw;
}
.smallwaterstar2 {
  margin-left: 20vw;
}
.smallwaterstar3 {
  margin-left: -2vw;
  margin-top: 7vw;
}

.seaweedbig {
  width: 15vw;
  margin-top: 70vw;
  margin-left: 0vw;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

@keyframes float {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: all 1s;
  }
}

.seaweedsmall {
  width: 4vw;
  margin-top: 58vw;
  margin-left: 85vw;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

/* Четвертый экран */

.fourth_screen {
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  position: relative;
  overflow-x: hidden;
}

/* Пятый экран */

.fifth_screen {
  overflow-x: hidden;
  width: 100%;
  margin-top: 4vw;
  position: relative;
  height: 228vw;
}

.seastar {
  width: 5vw;
  animation: starround 6s linear infinite;
}

.ver_blocks {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  gap: 1vw;
}

.ver_block1 {
  display: flex;
  flex-direction: column;
  gap: 37vw;
  margin-top: 20vw;
  margin-left: 2vw;
}

.ver_block2 {
  display: flex;
  flex-direction: column;
  gap: 110vw;
  margin-top: 4vw;
  margin-left: 2vw;
}

.ver_block3 {
  display: flex;
  flex-direction: column;
  gap: 49.5vw;
  margin-top: 40vw;
  margin-left: 2vw;
}

.ver_block4 {
  display: flex;
  flex-direction: column;
  gap: 62vw;
  margin-top: 106vw;
  margin-left: 2vw;
}

.ver_block5 {
  display: flex;
  flex-direction: column;
  gap: 58vw;
  margin-top: 12vw;
  margin-left: 2vw;
}

.ver_block6 {
  display: flex;
  flex-direction: column;
  gap: 33.2vw;
  margin-top: 20vw;
  margin-left: 2vw;
}

.ver_block7 {
  display: flex;
  flex-direction: column;
  gap: 68vw;
  margin-top: 1vw;
  margin-left: 2vw;
}

.ver_block8 {
  display: flex;
  flex-direction: column;
  gap: 26.5vw;
  margin-top: 13vw;
  margin-left: 2vw;
}

.ver_block9 {
  display: flex;
  flex-direction: column;
  gap: 52vw;
  margin-top: 9vw;
  margin-left: 2vw;
}

.ver_block10 {
  display: flex;
  flex-direction: column;
  gap: 49vw;
  margin-top: 18vw;
  margin-left: 2vw;
}

.ver_block11 {
  display: flex;
  flex-direction: column;
  gap: 95vw;
  margin-top: 42vw;
  margin-left: 2vw;
}

.ver_block12 {
  display: flex;
  flex-direction: column;
  gap: 93vw;
  margin-top: 19vw;
  margin-left: 2vw;
}

.text2 {
  position: absolute;
  font-family: 'IBMPlexSans-Light';
  font-size: 2.8vw;
  width: 40vw;
  margin-top: 47vw;
  margin-left: 8vw;
  line-height: 1;
  text-transform: uppercase;
  color: #fafafa;
  -webkit-text-fill-color: #070707;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fafafa;
}

.text3 {
  position: absolute;
  font-family: 'IBMPlexSans-Light';
  font-size: 2.8vw;
  width: 40vw;
  margin-top: 88vw;
  margin-left: 54vw;
  line-height: 1;
  text-transform: uppercase;
  color: #fafafa;
  -webkit-text-fill-color: #070707;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fafafa;
}

.text4 {
  position: absolute;
  font-family: 'IBMPlexSans-Light';
  font-size: 2.8vw;
  width: 35vw;
  margin-top: 182vw;
  margin-left: 8vw;
  line-height: 1;
  text-transform: uppercase;
  color: #fafafa;
  -webkit-text-fill-color: #070707;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fafafa;
}

.plankton1 {
  z-index: 2;
  position: absolute;
  width: 54vw;
  margin-top: 3vw;
  margin-left: 42vw;
  animation: Drifting 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

@keyframes Drifting {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: all 1s;
  }
}

.phytoplankton {
  width: 34vw;
  margin-top: 10vw;
  margin-left: 8vw;
  position: absolute;
  animation: drift 6s ease infinite;
}

.phytoplankton3 {
  width: 20vw;
  margin-top: 150vw;
  margin-left: 58vw;
  position: absolute;
  animation: drift 6s ease infinite;
}

@keyframes drift {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateX(35px);
  }
  100% {
    transform: all 1s;
  }
}

.seaweed {
  width: 5vw;
  margin-top: 4vw;
  margin-left: 20vw;
  position: absolute;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

.phytoplankton2 {
  width: 17vw;
  margin-top: 6vw;
  margin-left: 78vw;
  position: absolute;
  animation: drift 6s ease infinite;
}

.plankton2 {
  z-index: 2;
  position: absolute;
  width: 54vw;
  margin-top: 58vw;
  animation: linmove 10s infinite linear;
}

@keyframes linmove {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes drift {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateX(35px);
  }
  100% {
    transform: all 1s;
  }
}

.seaweed2 {
  width: 7vw;
  margin-top: 70vw;
  margin-left: 84vw;
  position: absolute;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

.smallplankton1 {
  width: 14vw;
  margin-top: 98vw;
  margin-left: 8vw;
  position: absolute;
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.smallplankton2 {
  width: 9vw;
  margin-top: 116vw;
  margin-left: 22vw;
  position: absolute;
  animation: shaking 1s ease infinite;
}

@keyframes shaking {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.smallplankton3 {
  width: 14vw;
  margin-top: 104vw;
  margin-left: 38vw;
  position: absolute;
  animation: movingupdown 2s ease infinite;
}

@keyframes movingupdown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.smallplankton4 {
  width: 12vw;
  margin-top: 155vw;
  margin-left: 14vw;
  position: absolute;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.smallplankton5 {
  width: 15vw;
  margin-top: 143vw;
  margin-left: 30vw;
  position: absolute;
  animation: moverightleft 2s ease infinite;
}

@keyframes moverightleft {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.smallplankton6 {
  z-index: 2;
  width: 14vw;
  margin-top: 160vw;
  margin-left: 42vw;
  position: absolute;
  animation: movesquare 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes movesquare {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(50%) translateY(50%);
  }

  75% {
    transform: translateY(50%);
  }
}

.smallplankton7 {
  z-index: 2;
  width: 10vw;
  margin-top: 134vw;
  margin-left: 48vw;
  position: absolute;
  animation: scale 1s infinite ease-in-out alternate;
}

@keyframes scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

.plankton3 {
  z-index: 2;
  position: absolute;
  width: 40vw;
  margin-top: 120vw;
  margin-left: 90vw;
  animation: GFG 5s infinite linear;
}

@keyframes GFG {
  0% {
    transform: rotate(45deg) translateY(-100%) rotate(180deg);
  }

  100% {
    transform: rotate(170deg) translateY(120%) rotate(360deg);
  }
}

.plankton4 {
  z-index: 2;
  position: absolute;
  width: 29vw;
  margin-top: 190vw;
  margin-left: 64vw;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  from,
  to {
    transform: translateX(10vh) scaleY(1.02);
  }
  80% {
    transform: translateX(35vh) scaleY(0.98);
  }
}

.circle {
  width: 4vw;
  margin-top: 209vw;
  margin-left: 76vw;
  position: absolute;
  animation: opacity 2s ease infinite;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.seaweed3 {
  width: 5vw;
  margin-top: 158vw;
  margin-left: 84vw;
  position: absolute;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

.seaweed4 {
  width: 5vw;
  margin-top: 204vw;
  margin-left: 10vw;
  position: absolute;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}

/* Шестой экран */
.six_screen {
  width: 100%;
  height: 6vw;
  position: relative;
  overflow-x: hidden;
}

/* Седьмой экран */
.sevenscreen {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.footer {
  height: 6vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #d7ff00;
  gap: 6vw;
}

.footerinfo {
  height: 6vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #d7ff00;
  gap: 6vw;
}

.footertext {
  color: #070707;
  font-size: 2vw;
  text-transform: uppercase;
  margin-left: 3vw;
}

.logo {
  width: 13vw;
  margin-left: 36vw;
}

.footertext:hover {
  color: #3a00b6;
}
