body {
  margin: 0 auto;
  position: relative;
  font-family: 'IBMPlexSans-Light';
  overflow-x: hidden;
  background: #070707;
}

/* Первый экран */
.first_screen {
  width: 100%;
  height: 50vw;
  position: relative;
}

.horizontal_block {
  display: flex;
  flex-direction: column;
}

.horizontal_block1 {
  display: flex;
  flex-direction: row;
  gap: 36vw;
  margin-top: 3vw;
  margin-left: 13vw;
}

.horizontal_block2 {
  display: flex;
  flex-direction: row;
  gap: 22vw;
  margin-top: 5vw;
  margin-left: 9vw;
}

.horizontal_block3 {
  display: flex;
  flex-direction: row;
  gap: 20vw;
  margin-top: 6vw;
  margin-left: 1vw;
}

.star {
  width: 3vw;
  height: 4vw;
}

.star1 {
  animation: star1 5s ease-in-out infinite;
  /* z-index: 2; */
}

@keyframes star1 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star2 {
  animation: star2 3s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star2 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star3 {
  animation: star3 2s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star3 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star4 {
  animation: star4 4s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star4 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star5 {
  animation: star5 4s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star5 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star6 {
  animation: star6 9s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star6 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star7 {
  animation: star7 2s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star7 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star8 {
  animation: star8 2s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star8 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star9 {
  animation: star9 6s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star9 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star10 {
  animation: star10 8s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star10 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star11 {
  animation: star11 3s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star11 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.star12 {
  animation: star12 5s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes star12 {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.moon {
  margin-top: 1vw;
  margin-left: 58vw;
  position: absolute;
}

.text {
  font-family: 'IBMPlexSans-Light';
  font-size: 3.2vw;
  position: absolute;
  margin-top: 12.5vw;
  margin-left: 65.5vw;
  letter-spacing: 0.1em;
  position: absolute;
}

span {
  cursor: pointer;
  background-image: linear-gradient(0deg, #fafafa, #3a00b6);
  -webkit-text-stroke: 1px #070707;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 0% 100%;
  transition: 0.1s ease-in;
}

span:hover {
  background-size: 100% 100%;
  filter: drop-shadow(0 0 5px #fafafa);
}

.submarine {
  width: 44vw;
  z-index: 999;
  background-repeat: no-repeat;
  margin-top: 22.5vw;
  margin-left: 7vw;
  animation: bob 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

@keyframes bob {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: all 1s;
  }
}

.sea {
  position: absolute;
  width: 100%;
  height: 29vw;
  background: #070707;
  overflow: hidden;
  margin-top: 22%;
}
.sea .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: 10vw;
  background: url('../images/wave.svg');
  background-size: 1155px 200px;
}

.sea .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.sea .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 998;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100%;
  }
}

/* Второй экран */

.second_screen {
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  position: relative;
  overflow-x: hidden;
}

.animatext {
  margin-top: 2vw;
  white-space: nowrap;
  animation: lin 9s infinite linear;
  font-size: 2vw;
  position: absolute;
  text-transform: uppercase;
  color: #fafafa;
  padding-left: 100%;
}

@keyframes lin {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-120%, 0);
  }
}
/* @keyframes lin {
  0% {
    left: 90%;
  }
  100% {
    left: -1%;
  }
} */

/* Третий экран */
.third_screen {
  width: 100%;
  margin-top: 6vw;
  position: relative;
}

.curcletext {
  margin-top: 3vw;
  position: absolute;
  height: 70vw;
  width: 32vw;
  margin-left: 32vw;
  animation: portal 6s ease-in-out infinite;
}

@keyframes portal {
  0% {
    filter: blur(0);
    opacity: 100%;
  }
  50% {
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 100%;
  }
}

.submarine1 {
  width: 48vw;
  margin-top: 25vw;
  margin-left: 1vw;
  position: absolute;
  animation: submarine1move 6s linear infinite;
  margin-left: -50%;
}
@keyframes submarine1move {
  0% {
    left: 0%;
  }
  10% {
    left: 20%;
  }
  30% {
    left: 40%;
  }

  50% {
    left: 65%;
    scale: 1;
  }
  70% {
    left: 95%;
    scale: 0.5;
  }
  90% {
    left: 115%;
  }
  100% {
    left: 130%;
    scale: 0.1;
  }
}

.vertical_blocks {
  display: flex;
  flex-direction: row;
}

.vertical_block1 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 3vw;
  margin-left: 4vw;
}

.waterstar {
  width: 14vw;
  animation: starround 6s linear infinite;
}

.waterstar2 {
  width: 10vw;
  margin-left: 14vw;
  animation: starround 6s linear infinite;
}

.waterstar3 {
  width: 12vw;
  margin-left: 19vw;
  margin-top: 25vw;
  animation: starround 6s linear infinite;
}

@keyframes starround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vertical_block2 {
  display: flex;
  flex-direction: column;
  gap: 14vw;
  margin-top: 13vw;
}

.midwaterstar {
  width: 6vw;
  animation: waterstar 8s ease-in-out infinite;
}
.midwaterstar1 {
  margin-left: 15vw;
}
.midwaterstar2 {
  margin-left: 5vw;
}
.midwaterstar3 {
  margin-left: 15vw;
}

@keyframes waterstar {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 100%;
  }
  100% {
    filter: blur(22px);
    opacity: 0;
  }
}

.vertical_block3 {
  display: flex;
  flex-direction: column;
  gap: 6vw;
  margin-top: 17vw;
  margin-left: 10vw;
}

.smallwaterstar {
  width: 5vw;
  animation: starround 6s linear infinite;
}

.smallwaterstar1 {
  margin-left: 2vw;
}
.smallwaterstar2 {
  margin-left: 20vw;
}
.smallwaterstar3 {
  margin-left: -2vw;
  margin-top: 7vw;
}

.seaweedbig {
  width: 15vw;
  margin-top: 50vw;
  margin-left: 0vw;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

@keyframes float {
  0% {
    transform: all 1s;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: all 1s;
  }
}

.seaweedsmall {
  width: 4vw;
  margin-top: 58vw;
  margin-left: 85vw;
  animation: float 3s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  position: absolute;
}

/* Четвертый экран */

.fourth_screen {
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  position: relative;
  overflow-x: hidden;
}
